body {
    font-family: sans-serif;
}

header{
    background-color: #00AE68;
}

h1{
    font-size: 48px;
}

h2{
    border: 6px solid #60D6A7;
    text-align: center;
    font-size: 24px;
}

.pas{
    border: 6px solid #60D6A7;
    text-align: center;
    font-size: 24px;
}

footer{
    background-color: #21825B;
    font-size: 24px;
}

footer a {
    text-decoration: none;
    color: white;
}

.odin {
    width: 319px;
    height: 162px;
    margin: 50px 50px 50px 50px;
}

.dva {
    width: 194px;
    height: 259px;
    margin: 50px 50px 50px 50px;
}

.tri{
    width: 319px;
    height: 162.03px;
    margin: 50px 50px 50px 50px;
}

.chetire{
    width: 168px;
    height: 259px;
    margin: 50px 50px 50px 50px;
}
