*{
        margin: 0px;
    padding: 0px;
}
body {

    font-family: sans-serif;
}

header{
    background-color: #00AE68;
}

h1{
    font-size: 48px;
}

a{
    border: 6px solid #00AE68;
    border-radius: 60px;
    padding: 4px 19px;
    margin: 45px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

h2{
    border: 6px solid #60D6A7;
    text-align: center;
    font-size: 24px;
}

.pas{
    border: 6px solid #60D6A7;
    text-align: center;
    font-size: 24px;
}

footer{
    background-color: #21825B;
    color: white;
    font-size: 24px;
}
